.vscode
taskfile.yaml 
# https://taskfile.dev/

backend/.env
backend/backend
backend/backend.exe

scripts/script_texty/texty/
scripts/script_texty/knihy/

frontend/public/seznam-wmt-BUnHTQ6XWvu0wBfMQUVc2QkzAKbmEEiS.txt
frontend/dist
frontend/node_modules