@font-face {
    font-family: "Montserrat";
    src: url("/Montserrat.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Red Hat Mono";
    src: url("/RedHatMono.woff2") format("woff2");
    font-display: swap;
}

:root {
    --cerna: #171528;
    --bila: #f0f0f0;
    --seda: #aaaaaa;
    --tmave-fialova: #3F3351;
    --sirka-menu: 230px;
    --sirka-textoveho-pole: 650px;
    --fialova: #864879;
    --svetle-fialova: #b45cad;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Candara;
    font-weight: 300;
}

h1 {
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 32px;
}

h2 {
    font-weight: 400;
    font-size: 24px;
}

p {
    font-size: 18px;
}

body::-webkit-scrollbar {
    width: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: var(--bila);
    background-color: var(--cerna);
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
}

#view {
    padding-top: 30px;
    margin-left: calc(var(--sirka-menu) + 10px);
    margin-bottom: 50px;
    text-align: center;
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    border: #afafaf 1px solid;
}

.fajvka {
    height: 30px;
    align-self: center;
}

.play-vetsi {
    height: 45px;
}

.tlacitko {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: var(--bila);
    font-size: 16px;
    margin: 10px 0 0 0;
    background-color: var(--fialova);
    transition: 0.2s;
    cursor: pointer;
}

.tlacitko:hover {
    background-color: var(--svetle-fialova);
    transition: 0.2s;
}

.cervene-tlacitko {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: var(--bila);
    font-size: 16px;
    margin: 10px 0 0 0;
    background-color: #a01e1e;
    transition: 0.2s;
    cursor: pointer;
}

.cervene-tlacitko:hover {
    background-color: #ce0000;
    transition: 0.2s;
}

.tlacitko:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.tlacitko:disabled:hover {
    background-color: var(--fialova);
}

.cervene-tlacitko:disabled {
    filter: brightness(0.7);
    cursor: not-allowed;
}

.cervene-tlacitko:disabled:hover {
    background-color: #a01e1e;
}

.nadpis-se-sipkou {
    display: inline-flex;
    position: relative;
    right: 25px;
    justify-content: center;
    /* posunuti o pulku sipky */
}

b {
    font-weight: 500;
}

.bloky {
    margin-top: 50px;
    width: 110%;
    height: 320px;
    display: flex;
    gap: 20px;
    background-color: var(--tmave-fialova);
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.bloky img,
.bloky a {
    width: 40%;
    height: auto;
    text-align: center;
    color: var(--svetle-fialova);
}

.bloky .text {
    width: 60%;
    list-style-position: inside;
}

.bloky .text li {
    text-align: left;
    text-indent: -16px;
    margin-left: 10px;
}

.bloky .text p,
.bloky .text li {
    font-size: 17px;
    padding: 8px;
    line-height: 24px;
}

.bloky .text h2 {
    margin-bottom: 20px;
    font-size: 26px;
}

.nohover {
    pointer-events: none;
    transition-duration: 0.1s;
}

#schovat {
    position: absolute;
    top: -100px;
    white-space: nowrap;
    border-width: 0;
}

.klavesa-v-textu {
    border-radius: 5px;
    background-color: var(--bila);
    color: black;
    padding: 2px 4px 1px 4px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0px 3px #a7a7a7;
    position: relative;
    bottom: 1.5px;
}

.klavesa-v-textu-mensi {
    border-radius: 3px;
    background-color: var(--bila);
    color: black;
    padding: 1px 2px;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0px 2px #a7a7a7;
}

.klav-sipka {
    width: 20px !important;
    height: 11px !important;
    filter: invert(1);
}

textarea:focus,
input:focus,
select:focus {
    outline: none;
}

.radio {
    appearance: none;
    -webkit-appearance: none;
    border: 2.5px solid var(--fialova);
    border-radius: 8px;
    transition: filter 0.1s;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.radio::before {
    content: "";
    width: 14px;
    height: 14px;
    transform: scale(0);
    background-color: var(--fialova);
    border-radius: 4px;
    transition: 0.1s;
    display: block;
}

.radio:checked:before {
    transform: scale(1);
}

.toggle-checkbox {
    display: none;
}

.toggle-contejner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    font-weight: bold;
    color: var(--tmave-fialova);
    cursor: pointer;
    background: transparent;
    font-size: 16px;
    border-radius: 8px;
    border: 1px var(--fialova) solid;
    justify-self: start;
    height: 30px;
}

.toggle-contejner::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius: 6px;
    background: var(--fialova);
    transition: all 0.3s;
}

.toggle-checkbox:checked+.toggle-contejner::before {
    left: 50%;
}

.toggle-contejner div {
    padding: 7px;
    text-align: center;
    z-index: 1;
    user-select: none;
    position: relative;
    top: -1px;
}

.toggle-checkbox:checked+.toggle-contejner div:first-child {
    color: transparent;
    transition: color 0.3s;
}

.toggle-checkbox:checked+.toggle-contejner div:last-child {
    color: white;
    transition: color 0.3s;
}

.toggle-checkbox+.toggle-contejner div:first-child {
    color: white;
    transition: color 0.3s;
}

.toggle-checkbox+.toggle-contejner div:last-child {
    color: transparent;
    transition: color 0.3s;
}

select {
    border: none;
    border-radius: 5px;
    padding: 3px;
    font-size: 21px;
    color: white;
    font-family: "Red Hat Mono", monospace;
    background-color: var(--fialova);
    cursor: pointer;
    transition: 0.2s;
    padding-left: 8px;
}

select:disabled {
    opacity: 0.7;
}

select:disabled:hover {
    cursor: not-allowed;
}

select option {
    background-color: var(--fialova);
    font-family: "Red Hat Mono", monospace;
    font-size: 16px;
    border: none;
}

video {
    border-radius: 8px;
    background-color: var(--tmave-fialova) !important;
}

@supports(-webkit-tap-highlight-color: black) {

    /* ne na firefoxu, jinak je to sus */
    select:hover {
        background-color: var(--svetle-fialova);
    }
}

@media screen and (max-width: 1100px) {
    .bloky {
        margin-top: 25px;
        flex-direction: column-reverse;
        width: 80%;
        height: auto;
        padding: 25px 15px;
        gap: 20px;
    }

    div:nth-of-type(even).bloky {
        flex-direction: column;
    }

    .bloky .text {
        width: 100%;
        height: 60%;
    }

    .bloky img,
    .bloky a {
        width: 100%;
        height: 40%;
        max-width: 320px;
    }

    h1 {
        font-size: 29px;
        max-width: 60%;
        direction: rtl;
    }

    .bloky .text p,
    .bloky .text li {
        font-size: 16px;
    }

    .bloky .text h2 {
        margin-bottom: 10px;
        font-size: 24px;
    }

    p {
        font-size: 17px;
    }
}

/*bitwarden aby nešoupal strankou*/
#bit-notification-bar-spacer {
    display: none !important;
}